<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="UIPathActFolder" value="C:\\Users\\bmao002\\.nuget\\packages\\uipath\\9.0.6877.24355\\build\\UiPath"/>
  </appSettings>
</configuration>
